<div id="ideias" class="projects">
    <div id="title-container-project" class="title-projetos">
        <h1 id="title-project" > Ideas</h1>
    </div>
    <div class="title-mobile-projects">
        <h1> Ideas</h1>
    </div>
    <div class="project-wrapper">
        {% for project in site.projects %}
            <div class="project-content">
                <div class="project-title-content">
                    <div class="project-title">
                        <p>
                            {{project.name}}
                        </p>
                        {% if project.repo %}
                            <a href="{{project.repo}}">
                                <i class="fab fa-github fa-1x"></i>
                            </a>
                        {% endif %} 
                    </div>
                </div>
                <div class="project-description">
                    {% include project_info.html project=project %}
                </div>
                <div class="mentor-container">
                    {% for mentor in project.mentors %}
                        <div style="display: flex; margin-bottom: 20px;">
                            <div class="mentor-image-content">
                                {% if mentor.photo %}
                                    <img class="" src="{{ site.baseurl }}/files/team/{{mentor.photo}}" />
                                {% endif %}
                            </div>
                            <div class="mentor-content">
                                {% if mentor.name %}
                                    <p>{{mentor.name}}</p>
                                {% endif %}
                                <div class="mentor-social">
                                    {% if site.github_username %}
                                        <li>
                                            <a href="https://github.com/{{ mentor.github_username }}">
                                                <i class="fab fa-github" style="color:#0068b4; font-size:20px; margin-right:10px;"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if site.github_username %}
                                        <li>
                                            <a href="https://t.me/{{ mentor.telegram_username }}">
                                                <i class="fab fa-telegram" style="color:#0068b4; font-size:20px; margin-right:10px;"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if site.github_username %}
                                        <li>
                                            <a href="mailto:{{ mentor.email }}">
                                                <i class="fas fa-at" style="color:#0068b4; font-size:20px; margin-right:10px;"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="line-divide"></div>
        {% endfor %}
    </div>
</div>

<script>
    const titleContainerProject = document.getElementById("title-container-project");
    const titleProject = document.getElementById("title-project");
    const headerProject = document.getElementById("header");

    document.addEventListener("scroll", function() {
        const headerHeight = 55
        const titleHeightProject = 185
        const titleTopProject = titleContainerProject.offsetTop - headerHeight
        const titleBottomProject = titleContainerProject.offsetHeight + titleTopProject - titleHeightProject
        if (window.pageYOffset > titleTopProject) {
            if (window.pageYOffset < titleBottomProject) {
                titleProject.style.position = "fixed";
                titleProject.style.top = "55px";
                titleContainerProject.style.alignItems = "normal"
                headerProject.style.backgroundColor = "#0068b4"
            } else {
                titleProject.style.position = "absolute"
                titleProject.style.top = "auto";
                titleContainerProject.style.alignItems = "end"
            }
        } else {
            titleProject.style.position = "relative"
            titleProject.style.top = "auto";
            titleContainerProject.style.alignItems = "normal"
        }
    });
</script>