#about-us {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25vh;

    background-color: white;
    
    color: #262626;
  
    .background_about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .content-about {
        font-size: 15px;

        .item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;

          .image-about {
            width: 120px;
            height: 120px;
            padding: 0px 30px;
          }

          .lappis {
            animation: typing 6s steps(7) infinite, blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            font-family: monospace;
            font-size: 2em;
            color: #0068b4;
            
          }

          .google {
            animation: inverttyping 6s steps(7) infinite, blink .5s step-end infinite alternate;
            white-space: nowrap;
            overflow: hidden;
            border-right: 3px solid;
            font-family: monospace;
            font-size: 2em;
            color: #DC7004;
          }

          h1 {
            margin: 0;
            font-family: monospace;
            font-weight: bold;
            font-size: 2em;
          }

          @keyframes inverttyping {
            0% {
              width: 0;
              visibility:visible;
            }
            10% {
              width: 6.5ch; 
            }
            40% {
              width: 6.5ch; 
            }
            50% {
              width: 0;
              visibility: hidden;
            }
            100% {
              width: 0;
              visibility: hidden;
            }
          }

          @keyframes typing {
            0% {
              width: 0;
              visibility: hidden;
            }
            50% {
              width: 0;
              visibility: hidden;
            }
            51% {
              width: 0;
              visibility: visible;
            }
            60% {
              width: 6.5ch; 
            }
            90% {
              width: 6.5ch; 
            }
            100% {
              width: 0;
              visibility: hidden;
            }
          }
              
          @keyframes blink {
            50% {
              border-color: transparent
            }
          }
        }
        
        @media only screen and (max-width: 1200px) {
          padding: 0px;        
          font-size: 15px;

          p {
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 15px;
          }
        }
      }
    }

    @media only screen and (max-width: 1200px) {
      height: auto;
      padding-bottom: 50px;
      
      .background_about {
        background: none;
        .content-about {
          width: 100%;
        }
      }
    }
  }