.get-started {
    display: flex;
    color: #000;

    @media only screen and (max-width: 770px) {
        display: block;
    }
}

.title-started {
    background-color: #DC7004;

    display: flex;
    justify-content: center;

    color: white;
    width: 100px;

    
    h1 {
        margin: 0px;
        padding: 40px 0px;
        font-size: 40px;
        writing-mode: vertical-lr;
        white-space: nowrap;
    }
    
    @media only screen and (max-width: 770px) {
        display: none;
    }
}

.title-mobile {
    display: none;
    
    background-color: #262626;
    color: white;
    
    padding: 10px 0px;

    h1 {
        margin-bottom: 0px;
    }

    @media only screen and (max-width: 770px) {
        display: block;
    }
}

svg {
    height: 150px;
    width: 150px;
    fill: currentColor;
    transform-origin: center;
}

.started-wrapper {
    width: fit-content;
    margin-top: 50px;
}

.started-content {
    width: fit-content;
    margin: 0px 50px;

    @media only screen and (max-width: 770px) {
        margin: 10%;
    }
}

.started-title-content {
    display: flex;
    align-items: center;

    .icon-box {
        border-radius: 100%;
        font-size: 20px;

        width: 50px;
        height: 50px;

        background-color: #dc700474;

        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: #dc7004;
        }
    }

    .started-title {
        width: -webkit-fill-available;

        p {
            margin-left: 15px;
            margin-right: 0px;
            margin-bottom: 0px;

            font-size: 25px;
            font-weight: bold;

            @media only screen and (max-width: 770px) {
                font-size: 15px;
            }
        }

        a {
            margin-left: 15px;

            font-size: 20px;
            color: black;

            &:hover {
                color: gray;
            }
        }
    }
}

.started-description {
    font-size: 20px;
    
    margin-left: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;

    border-left: 3px solid #dc700474;
}

.started-description-last {
    font-size: 20px;
    
    margin-left: 23px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
}

.see-our-org {
    background-color: #262626;

    margin-top: 20px;
    padding: 35px 0px;

    .apresent-title {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;
        img {
            width: 70px;
            height: 70px;

            margin-right: 20px;
        }
        h1 {
            margin: 0px;
            white-space: nowrap;
            font-family: monospace;
            font-size: 2em;
            color: white;
        }
    }

    .button-see-org {
        display: flex;
        justify-content: center;
        align-items: center;
        
        a {
            border: 1px solid white;
            border-radius: 5px;
            color: white;
            background: none;
            
            padding: 12px 18px;
            margin: 0px 20px;


            font-size: 18px;

            &:hover {
                background-color: #0068b4;
                text-decoration: none;

                margin: 1px 21px;

                border: none;
            }
        }
    }
}